.header{
	background-color: dodgerblue;
	padding: 5px;
}

.search{
	margin: 10px;
}

#result_table{
	background-color: lightgray;
	border: 2px solid rgb(160, 160, 160);
}

.card_name{
	width: 1000px;
	border: 1px solid rgb(160, 160, 160);
}

.card_type{
	width: 400px;
	border: 1px solid rgb(160, 160, 160);
}

.card_link{
	width: 300px;
	border: 1px solid rgb(160, 160, 160);
}

.special_card{
	background-color :yellow;
}